In [46]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

train_df = pd.read_csv("new_train.csv")
test_df = pd.read_csv("new_test.csv")
train_df

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,Relatives,FareRatio,Deck,AgeClass
0,0,3,0,2,1,0,7,0,0,1,3,8,6
1,1,1,1,5,1,0,71,1,1,1,35,2,5
2,1,3,1,3,0,0,7,0,2,0,7,8,9
3,1,1,1,5,1,0,53,0,1,1,26,2,5
4,0,3,0,5,0,0,8,0,0,0,8,8,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,0,3,0,0,13,0,5,0,13,8,6
887,1,1,1,2,0,0,30,0,2,0,30,1,2
888,0,3,1,5,1,2,23,0,2,3,5,8,15
889,1,1,0,3,0,0,30,1,0,0,30,2,3
890,0,3,0,4,0,0,7,2,0,0,7,8,12

In [47]:
X_train = train_df.drop("Survived", axis=1)
Y_train = train_df["Survived"]
X_test  = test_df.drop("PassengerId", axis=1).copy()

In [48]:
## Random Forest

In [49]:
from sklearn.ensemble import RandomForestClassifier
#from sklearn.linear_model import SGDClassifier

random_forest = RandomForestClassifier(n_estimators=150, max_depth=5, random_state=1)
random_forest.fit(X_train, Y_train)

#Y_prediction = random_forest.predict(X_test)

random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
print (acc_random_forest)

85.3

In [50]:
predictions = random_forest.predict(X_test)

output = pd.DataFrame({'PassengerId': test_df.PassengerId, 'Survived': predictions})
output.to_csv('my_submission.csv', index=False)